<!DOCTYPE html>
<html>
<head>
    <title>Match Overlay</title>
    <style>
        body {
            background-color: black;
            color: white;
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .score-box {
            margin-top: 50px;
            font-size: 36px;
        }
    </style>
</head>
<body>
    <div class="score-box">
        <div>{{ team1 }} vs {{ team2 }}</div>
        <div>Score: {{ score }}</div>
        <div>Commentary: {{ commentary }}</div>
    </div>
</body>
</html>
